{% extends "base.html" %}

{% block body %}

<div class="container">

    <h2 class="text-danger" style="margin-left: 1rem;">
        Errors
    </h2>

    <div id="error-window">

        <div class="alert alert-danger" role="alert">
            <b>Sheet:</b> Material
            <br>

            <b>Column:</b> H
            <br>

            <b>Row:</b> 4
            <br>

            <b>Issue:</b> sample_preparation does not have a corresponding data node
        </div>

    </div>


    <!-- Try again button -->
    <div class="d-grid gap-2" style="margin-top: 2rem;">
        <button type="button" class="btn btn-primary btn-lg margin-top d-flex justify-content-center"
                style="padding: 0.7rem 7rem 0.7rem 7rem;">
            Try again
        </button>
    </div>

    <br>

    <!-- docs link for debugging -->
    <small class="documentation-link">
        Please refer to our

        <a href="https://c-accel-cript.github.io/cript-excel-uploader/individual_sheets/" target="_blank">
            documentation
        </a>
        on how to fill out this screen
    </small>

</div>

{% endblock %}