name: "Compile GUI for Windows"
on:
  push:
    branches:
      - develop_cd_compiling_gui
jobs:
  deploy:
    runs-on: windows-latest
    steps:
      # used to check out different branches
      - uses: actions/checkout@v3
#        with:
#          # checkout my specific branch
#          ref: master
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: pip install dependencies
        run: pip install -r requirements_dev.txt
      - name: "compile GUI for Windows"
        run: |
          cd .\src\
          python -m eel .\gui_main.py .\web\ --onefile --noconsole --name excel_uploader_windows --icon=.\assets\logo_condensed.ico

      # save compiled GUI
      - uses: actions/upload-artifact@v3
        with:
          # artifact name
          name: "CRIPT Excel Uploader Windows Zip"
          path: dist/
          if-no-files-found: error
          retention-days: 10
